<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
</head>
<body>

<!-- ###UPLOAD_FORM### [begin] -->

<!-- ###NOTIFICATION### [begin] -->
<div class="notification">
	<ul>
		<!-- ###MESSAGE_LINE### [begin] -->
		<li class="###MESSAGE_CLASS###">###MESSAGE###</li>
		<!-- ###MESSAGE_LINE### [end] -->
	</ul>
</div>
<!-- ###NOTIFICATION### [end] -->

<label for="file_1">###LABEL_FILE_UPLOAD###</label>
<input type="file" id="file_1" name="###FORM_PREFIX###[file_1]" /><br />
<label for="file_2">###LABEL_FILE_UPLOAD###</label>
<input type="file" id="file_2" name="###FORM_PREFIX###[file_2]" /><br />
<input type="submit" value="###LABEL_SUBMIT###" />

<!-- ###UPLOAD_FORM### [end] -->

</body>
</html>